.footer {
    width: 100%;
    height: 140px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(46, 161, 244);
    color: white;
}

#logo-footer {
    display: none;
}


@media screen and (max-width: 768px) {

    #logo-footer {
        display: block;
        height: 55px;
    }

    #logo-laptop-footer {
        display: none;
    }

}